apps/n8n-workflows/01-trend-research.json
{
  "name": "01 — Trend Research",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "trend-research-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "trend-research",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "HTTP Request - Trend Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TREND_RESEARCH_URL }}/research",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={ \"niche_keywords\": {{ JSON.stringify($json.niche_keywords) }} }",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Set - Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "out-01",
              "name": "project_id",
              "value": "={{ $('Webhook').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "out-02",
              "name": "trend_data",
              "value": "={{ $('HTTP Request - Trend Service').item.json }}",
              "type": "object"
            },
            {
              "id": "out-03",
              "name": "niche_keywords",
              "value": "={{ $('Webhook').item.json.niche_keywords }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Trend Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Trend Service": {
      "main": [
        [
          {
            "node": "Set - Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "tags": ["phase-1", "x-bot"]
}
