apps/n8n-workflows/03-script-writer-x.json
{
  "name": "03 — Script Writer (X)",
  "nodes": [
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "script-writer-x-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "script-writer-x",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "HTTP Request - Gemini Script Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GOOGLE_API_KEY }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\"text\": \"Write an X (Twitter) post for topic: {{ $json.topic }}, angle: {{ $json.angle }}. Brand voice: {{ $json.brand_voice_prompt }}. Content style: {{ $json.content_style }}. For 'thread': numbered tweets (1/N format), each under 280 chars, 5-10 tweets. For 'short-form': single post under 280 chars. Return JSON: {platform:'x', format:'thread|single', script: string|string[], estimated_length: string}. Return ONLY valid JSON.\"}]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 2048,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Code - Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const response = $input.item.json;\nlet rawText = response.candidates[0].content.parts[0].text;\n// Strip markdown code blocks if present\nrawText = rawText.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  throw new Error('Gemini returned invalid JSON: ' + rawText);\n}\n\nif (!parsed.script) {\n  throw new Error('Gemini response missing script field: ' + rawText);\n}\n\nif (!parsed.platform || !parsed.format) {\n  throw new Error('Gemini response missing platform or format field: ' + rawText);\n}\n\n// Enforce 280-char limit on each tweet if thread\nif (Array.isArray(parsed.script)) {\n  parsed.script = parsed.script.map((tweet, i) => {\n    if (typeof tweet !== 'string') throw new Error(`Thread tweet ${i} is not a string`);\n    return tweet.length > 280 ? tweet.substring(0, 277) + '...' : tweet;\n  });\n} else if (typeof parsed.script === 'string') {\n  if (parsed.script.length > 280 && parsed.format === 'single') {\n    parsed.script = parsed.script.substring(0, 277) + '...';\n  }\n} else {\n  throw new Error('script must be a string or array of strings');\n}\n\nconst trigger = $('Webhook').item.json;\n\nreturn [{\n  json: {\n    project_id: trigger.project_id,\n    topic: trigger.topic,\n    angle: trigger.angle,\n    platform: parsed.platform,\n    format: parsed.format,\n    script: parsed.script,\n    estimated_length: parsed.estimated_length || ''\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "HTTP Request - Supabase Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/content_pieces",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{ $json.project_id }}\",\n  \"topic\": {{ JSON.stringify($json.topic) }},\n  \"angle\": {{ JSON.stringify($json.angle) }},\n  \"script\": {{ JSON.stringify(typeof $json.script === 'string' ? $json.script : JSON.stringify($json.script)) }},\n  \"status\": \"draft\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000005",
      "name": "Set - Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "out-01",
              "name": "project_id",
              "value": "={{ $('Code - Parse Script').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "out-02",
              "name": "content_piece_id",
              "value": "={{ $('HTTP Request - Supabase Insert').item.json[0].id }}",
              "type": "string"
            },
            {
              "id": "out-03",
              "name": "script",
              "value": "={{ $('Code - Parse Script').item.json.script }}",
              "type": "string"
            },
            {
              "id": "out-04",
              "name": "topic",
              "value": "={{ $('Code - Parse Script').item.json.topic }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Gemini Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Gemini Script Writer": {
      "main": [
        [
          {
            "node": "Code - Parse Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Script": {
      "main": [
        [
          {
            "node": "HTTP Request - Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Supabase Insert": {
      "main": [
        [
          {
            "node": "Set - Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "tags": ["phase-1", "x-bot"]
}
