apps/n8n-workflows/04-quality-review.json
{
  "name": "04 — Quality Review",
  "nodes": [
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "quality-review-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "quality-review",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000002",
      "name": "HTTP Request - Claude Quality Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Review this content for quality. Topic: {{ $json.topic }}. Script: {{ typeof $json.script === 'string' ? $json.script : JSON.stringify($json.script) }}. Brand voice: {{ $json.brand_voice_prompt }}. Platform: {{ $json.platform }}. Check: brand voice match, factual claims, platform policy, format. Return JSON: {passed: boolean, score: number, issues: [{type, severity, description}], suggestions: string[]}. Only fail (passed:false) on 'block' severity issues.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000003",
      "name": "Code - Parse Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst rawText = response.content[0].text;\n\nlet review;\ntry {\n  review = JSON.parse(rawText);\n} catch (e) {\n  const stripped = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  review = JSON.parse(stripped);\n}\n\nif (typeof review.passed !== 'boolean') {\n  throw new Error('Review response missing boolean passed field: ' + rawText);\n}\n\nconst trigger = $('Webhook').item.json;\n\nreturn [{\n  json: {\n    content_piece_id: trigger.content_piece_id,\n    project_id: trigger.project_id,\n    passed: review.passed,\n    score: review.score || 0,\n    issues: review.issues || [],\n    suggestions: review.suggestions || []\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "IF - Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000005",
      "name": "HTTP Request - Mark Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/content_pieces",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.content_piece_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"pending_approval\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000006",
      "name": "HTTP Request - Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/content_pieces",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.content_piece_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"failed\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000007",
      "name": "Set - Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "out-01",
              "name": "content_piece_id",
              "value": "={{ $('Code - Parse Review').item.json.content_piece_id }}",
              "type": "string"
            },
            {
              "id": "out-02",
              "name": "passed",
              "value": "={{ $('Code - Parse Review').item.json.passed }}",
              "type": "boolean"
            },
            {
              "id": "out-03",
              "name": "score",
              "value": "={{ $('Code - Parse Review').item.json.score }}",
              "type": "number"
            },
            {
              "id": "out-04",
              "name": "issues",
              "value": "={{ $('Code - Parse Review').item.json.issues }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Claude Quality Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Claude Quality Review": {
      "main": [
        [
          {
            "node": "Code - Parse Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Review": {
      "main": [
        [
          {
            "node": "IF - Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Passed?": {
      "main": [
        [
          {
            "node": "HTTP Request - Mark Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Mark Pending": {
      "main": [
        [
          {
            "node": "Set - Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Mark Failed": {
      "main": [
        [
          {
            "node": "Set - Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "tags": ["phase-1", "x-bot"]
}
