apps/n8n-workflows/05-approval-telegram.json
{
  "name": "05 — Approval via Telegram",
  "nodes": [
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "approval-telegram-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-telegram",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000002",
      "name": "HTTP Request - Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_DEFAULT_CHAT_ID }}\",\n  \"parse_mode\": \"Markdown\",\n  \"text\": \"*New Content Ready for Approval*\\n\\n*Topic:* {{ $json.topic }}\\n*Scheduled:* {{ $json.scheduled_for }}\\n\\n*Preview:*\\n{{ typeof $json.script === 'string' ? $json.script.substring(0, 280) : $json.script[0] }}...\",\n  \"reply_markup\": {{ JSON.stringify({ inline_keyboard: [[{ text: \"\\u2705 Approve\", callback_data: \"approve:\" + $json.content_piece_id }, { text: \"\\u274c Reject\", callback_data: \"reject:\" + $json.content_piece_id }]] }) }}\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000003",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [750, 300],
      "webhookId": "approval-resume-webhook",
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "/approval-resume"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000004",
      "name": "Set - Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "out-01",
              "name": "content_piece_id",
              "value": "={{ $('Webhook').item.json.content_piece_id }}",
              "type": "string"
            },
            {
              "id": "out-02",
              "name": "approved",
              "value": "={{ ($json.callback_query?.data || $json.data || $json.callback_data || '').startsWith('approve:') }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Send Telegram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set - Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "tags": ["phase-1", "x-bot"]
}
