apps/n8n-workflows/06-publish-x.json
{
  "name": "06 — Publish to X",
  "nodes": [
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "publish-x-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-x",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000002",
      "name": "Code - Detect Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const payload = $input.item.json;\nconst script = payload.script;\n\n// A thread is represented as an array of tweet strings.\n// A single post is a plain string.\n// Handle the case where script was stored as JSON string (serialised array).\nlet resolvedScript = script;\nif (typeof script === 'string') {\n  try {\n    const parsed = JSON.parse(script);\n    if (Array.isArray(parsed)) {\n      resolvedScript = parsed;\n    }\n  } catch (_) {\n    // Remains a plain string\n  }\n}\n\nconst isThread = Array.isArray(resolvedScript);\n\nreturn [{\n  json: {\n    content_piece_id: payload.content_piece_id,\n    script: resolvedScript,\n    isThread\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000003",
      "name": "IF - Is Thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.isThread }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000004",
      "name": "Code - Post Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "parameters": {
        "jsCode": "// X API v2 — post a thread via OAuth 1.0a\n// Env vars: X_API_KEY, X_API_SECRET, X_ACCESS_TOKEN, X_ACCESS_TOKEN_SECRET\n\nconst crypto = require('crypto');\n\nconst credentials = {\n  apiKey: $env.X_API_KEY,\n  apiSecret: $env.X_API_SECRET,\n  accessToken: $env.X_ACCESS_TOKEN,\n  accessTokenSecret: $env.X_ACCESS_TOKEN_SECRET,\n};\n\nconst tweets = $input.item.json.script; // array of strings\nconst X_TWEETS_URL = 'https://api.twitter.com/2/tweets';\n\nfunction percentEncode(value) {\n  return encodeURIComponent(value)\n    .replace(/!/g, '%21')\n    .replace(/'/g, '%27')\n    .replace(/\\(/g, '%28')\n    .replace(/\\)/g, '%29')\n    .replace(/\\*/g, '%2A');\n}\n\nfunction generateNonce() {\n  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n  let nonce = '';\n  for (let i = 0; i < 32; i++) {\n    nonce += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return nonce;\n}\n\nfunction buildAuthHeader(method, url, creds) {\n  const nonce = generateNonce();\n  const timestamp = Math.floor(Date.now() / 1000).toString();\n\n  const oauthParams = {\n    oauth_consumer_key: creds.apiKey,\n    oauth_nonce: nonce,\n    oauth_signature_method: 'HMAC-SHA1',\n    oauth_timestamp: timestamp,\n    oauth_token: creds.accessToken,\n    oauth_version: '1.0',\n  };\n\n  const paramString = Object.keys(oauthParams)\n    .sort()\n    .map(k => `${percentEncode(k)}=${percentEncode(oauthParams[k])}`)\n    .join('&');\n\n  const signatureBase = [\n    method.toUpperCase(),\n    percentEncode(url),\n    percentEncode(paramString),\n  ].join('&');\n\n  const signingKey = `${percentEncode(creds.apiSecret)}&${percentEncode(creds.accessTokenSecret)}`;\n\n  const signature = crypto\n    .createHmac('sha1', signingKey)\n    .update(signatureBase)\n    .digest('base64');\n\n  const allOAuth = { ...oauthParams, oauth_signature: signature };\n\n  return 'OAuth ' + Object.keys(allOAuth)\n    .sort()\n    .map(k => `${k}=\"${percentEncode(allOAuth[k])}\"`)\n    .join(', ');\n}\n\nasync function postTweet(text, replyToId) {\n  const body = { text };\n  if (replyToId) {\n    body.reply = { in_reply_to_tweet_id: replyToId };\n  }\n\n  const authHeader = buildAuthHeader('POST', X_TWEETS_URL, credentials);\n\n  const response = await fetch(X_TWEETS_URL, {\n    method: 'POST',\n    headers: {\n      'Authorization': authHeader,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify(body),\n  });\n\n  const data = await response.json();\n\n  if (!response.ok) {\n    const msg = (data.errors && data.errors[0] && data.errors[0].message)\n      || data.detail\n      || data.title\n      || `X API error ${response.status}`;\n    throw new Error(msg);\n  }\n\n  return { id: data.data.id, text: data.data.text };\n}\n\n// Post tweets sequentially, each as a reply to the previous\nconst results = [];\nlet previousId = null;\n\nfor (const text of tweets) {\n  const result = await postTweet(text, previousId);\n  results.push(result);\n  previousId = result.id;\n}\n\nreturn [{\n  json: {\n    tweets: results,\n    id: results[0].id,\n    thread_id: results[0].id,\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000005",
      "name": "Code - Post Tweet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400],
      "parameters": {
        "jsCode": "// X API v2 — post a single tweet via OAuth 1.0a\n// Env vars: X_API_KEY, X_API_SECRET, X_ACCESS_TOKEN, X_ACCESS_TOKEN_SECRET\n\nconst crypto = require('crypto');\n\nconst credentials = {\n  apiKey: $env.X_API_KEY,\n  apiSecret: $env.X_API_SECRET,\n  accessToken: $env.X_ACCESS_TOKEN,\n  accessTokenSecret: $env.X_ACCESS_TOKEN_SECRET,\n};\n\nconst text = $input.item.json.script; // plain string\nconst X_TWEETS_URL = 'https://api.twitter.com/2/tweets';\n\nfunction percentEncode(value) {\n  return encodeURIComponent(value)\n    .replace(/!/g, '%21')\n    .replace(/'/g, '%27')\n    .replace(/\\(/g, '%28')\n    .replace(/\\)/g, '%29')\n    .replace(/\\*/g, '%2A');\n}\n\nfunction generateNonce() {\n  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n  let nonce = '';\n  for (let i = 0; i < 32; i++) {\n    nonce += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return nonce;\n}\n\nfunction buildAuthHeader(method, url, creds) {\n  const nonce = generateNonce();\n  const timestamp = Math.floor(Date.now() / 1000).toString();\n\n  const oauthParams = {\n    oauth_consumer_key: creds.apiKey,\n    oauth_nonce: nonce,\n    oauth_signature_method: 'HMAC-SHA1',\n    oauth_timestamp: timestamp,\n    oauth_token: creds.accessToken,\n    oauth_version: '1.0',\n  };\n\n  const paramString = Object.keys(oauthParams)\n    .sort()\n    .map(k => `${percentEncode(k)}=${percentEncode(oauthParams[k])}`)\n    .join('&');\n\n  const signatureBase = [\n    method.toUpperCase(),\n    percentEncode(url),\n    percentEncode(paramString),\n  ].join('&');\n\n  const signingKey = `${percentEncode(creds.apiSecret)}&${percentEncode(creds.accessTokenSecret)}`;\n\n  const signature = crypto\n    .createHmac('sha1', signingKey)\n    .update(signatureBase)\n    .digest('base64');\n\n  const allOAuth = { ...oauthParams, oauth_signature: signature };\n\n  return 'OAuth ' + Object.keys(allOAuth)\n    .sort()\n    .map(k => `${k}=\"${percentEncode(allOAuth[k])}\"`)\n    .join(', ');\n}\n\nconst authHeader = buildAuthHeader('POST', X_TWEETS_URL, credentials);\n\nconst response = await fetch(X_TWEETS_URL, {\n  method: 'POST',\n  headers: {\n    'Authorization': authHeader,\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({ text }),\n});\n\nconst data = await response.json();\n\nif (!response.ok) {\n  const msg = (data.errors && data.errors[0] && data.errors[0].message)\n    || data.detail\n    || data.title\n    || `X API error ${response.status}`;\n  throw new Error(msg);\n}\n\nreturn [{\n  json: {\n    id: data.data.id,\n    text: data.data.text,\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1250, 300],
      "parameters": {
        "mode": "passThrough",
        "output": "input1"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000007",
      "name": "HTTP Request - Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/content_pieces",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Code - Detect Thread').item.json.content_piece_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"published\",\n  \"published_at\": \"{{ new Date().toISOString() }}\",\n  \"platforms_published\": {{ JSON.stringify({ x: String($json.id || $json.thread_id || ($json.tweets && $json.tweets[0] && $json.tweets[0].id) || '') }) }}\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000008",
      "name": "Set - Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1750, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "out-01",
              "name": "content_piece_id",
              "value": "={{ $('Code - Detect Thread').item.json.content_piece_id }}",
              "type": "string"
            },
            {
              "id": "out-02",
              "name": "tweet_id",
              "value": "={{ String($('Merge').item.json.id || $('Merge').item.json.thread_id || '') }}",
              "type": "string"
            },
            {
              "id": "out-03",
              "name": "published_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - Detect Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Detect Thread": {
      "main": [
        [
          {
            "node": "IF - Is Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Thread?": {
      "main": [
        [
          {
            "node": "Code - Post Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Post Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Post Thread": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Post Tweet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request - Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Update Supabase": {
      "main": [
        [
          {
            "node": "Set - Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "2",
  "tags": ["phase-1", "x-bot"]
}
